.bgcolor__1 {
    background-color: #FF7A00;
}

.bgcolor__2 {
    background-color: #FF5EB3;
}

.bgcolor__3 {
    background-color: #6E52FF;
}

.bgcolor__4 {
    background-color: #9327FF;
}

.bgcolor__5 {
    background-color: #00BEE8;
}

.bgcolor__6 {
    background-color: #1FD7C1;
}

.bgcolor__7 {
    background-color: #FF745E;
}

.bgcolor__8 {
    background-color: #FFA35E;
}

.bgcolor__9 {
    background-color: #FC71FF;
}

.bgcolor__10 {
    background-color: #FFC701;
}

.bgcolor__11 {
    background-color: #0038FF;
}

.bgcolor__12 {
    background-color: #C3FF2B;
}

.bgcolor__13 {
    background-color: #FFE62B;
}

.bgcolor__14 {
    background-color: #FF4646;
}

.bgcolor__15 {
    background-color: #FFBB2B;
}